name: CI

on: [push, pull_request]

jobs:
  test_and_docs:
    runs-on: ubuntu-latest
    env:
      CC: clang
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout vn3d
        uses: actions/checkout@v2
        with:
          repository: shamazmazum/vn3d
          path: vn3d
      - name: Initialize submodules
        uses: snickerbockers/submodules-init@v4
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "10.0"
          directory: llvm
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install doxygen cmake liblua5.3-dev libiniparser-dev
          sudo apt-get install libsdl2-dev libcunit1-dev libblocksruntime-dev
          sudo apt-get install libdispatch-dev
      - name: Install dependencies (2)
        run: |
          mkdir -p $GITHUB_WORKSPACE/vn3d/build && cd $GITHUB_WORKSPACE/vn3d/build
          cmake -DCMAKE_INSTALL_PREFIX=/usr .. && make && sudo make install
      - name: Configure
        run: |
          mkdir $GITHUB_WORKSPACE/build && cd $GITHUB_WORKSPACE/build
          cmake -DCMAKE_BUILD_TYPE=RELEASE $GITHUB_WORKSPACE
      - name: Build
        run: |
          cd $GITHUB_WORKSPACE/build
          make
          make doc
          sudo make install
      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/doc/html
